<div class="ux-widget-container">

  <ng-container *ngIf="staticContent$ | async as staticItems">
    <app-dynamic-viewer
      *ngFor="let item of staticItems"
      [class]="'static-' + item.id_DocumentHTMLCSS"
      
      [style.grid-column]="'span ' + (item.otros?.source?.colSpan || 12)"
      
      [contentId]="item.id_DocumentHTMLCSS"
      [htmlContentString]="item.htmlComponent"
      [cssContentString]="item.cssComponent"
      
      [dataBindings]="item.dataBindings"
      [buttonConfigs]="item.buttonConfigs"
      
      [formMappings]="item.formMappings"
      [formInitialData]="item.formInitialData"
      [formId]="item.formId || item.id_DocumentHTMLCSS"
      
      [parentForm]="formGroup"
      
      (actionClicked)="handleViewerActionClick($event)"
      (componentError)="componentError.emit($event)"
      (formSubmitted)="onFormSubmitted($event)"
      (fileSelected)="fileSelected.emit($event)"
    >
    </app-dynamic-viewer>
  </ng-container>

  <ng-container *ngIf="!isLoading">
    <ng-container *ngIf="dynamicContent$ | async as dynamicItems">
      <app-dynamic-viewer
        *ngFor="let item of dynamicItems"
        [class]="'dynamic-' + item.id_DocumentHTMLCSS"
        
        [style.grid-column]="'span ' + (item.otros?.source?.colSpan || 12)"
        
        [contentId]="item.id_DocumentHTMLCSS"
        [htmlContentString]="item.htmlComponent"
        [cssContentString]="item.cssComponent"
        
        [dataBindings]="item.dataBindings"
        [buttonConfigs]="item.buttonConfigs"
        
        [formMappings]="item.formMappings"
        [formInitialData]="item.formInitialData"
        [formId]="item.formId || item.id_DocumentHTMLCSS"
        
        [parentForm]="formGroup"
        
        (actionClicked)="handleViewerActionClick($event)"
        (componentError)="componentError.emit($event)"
        (formSubmitted)="onFormSubmitted($event)"
        (fileSelected)="fileSelected.emit($event)"
      >
      </app-dynamic-viewer>
    </ng-container>
  </ng-container>

</div>