<div #dynamicContentHost>
  <div
    *ngFor="let item of displayableItems$ | async"
    class="dynamic-item-wrapper"
  >
    <app-dynamic-viewer
      [contentId]="item.id_DocumentHTMLCSS"
      [htmlContentString]="item.htmlComponent"
      [cssContentString]="item.cssComponent"
      [dataBindings]="item.dataBindings"
      [formMappings]="item.formMappings"
      [buttonConfigs]="item.buttonConfigs"
      (actionClicked)="handleViewerActionClick($event)"
    >
    </app-dynamic-viewer>
  </div>
</div>
